* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: roboto;
    background: gainsboro;
}

.wrap {
    text-align: center;
    padding: 200px 0 0;
}

h1 {
    font-size: 58px;
    margin-bottom: 15px;
}

#clock span {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    line-height: 100px;
    background-color: #7d4b92;
    box-shadow: 0 5px 15px #dcd018;
    color: #fff;
    margin: 0 15px;
}

#clock span:first-child {
    margin-left: 0;
}

#clock span:last-child {
    background-color: #ee0707;
    text-align: center;
    font-size: 80%;
}

#circle2 {
    background-color: #fff;
    display: inline-block;
    border-radius: 4px;
    font-size: 42px;
    padding: 20px 50px;
    margin-bottom: 30px;

    box-shadow: 0 5px 15px #48f609;
    animation: circle2 2s ease-in-out infinite 1s;
}

#circle {
    background-color: #fff;
    display: inline-block;
    border-radius: 4px;
    font-size: 42px;
    padding: 20px 50px;
    margin-bottom: 30px;

    box-shadow: 0 5px 15px #48f609;
    animation: circle 2s ease-in-out infinite 1s;
}

/*Animation if you want*/

@keyframes circle {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes circle2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
